<div id="main" class="cf article-main">
    <div class="spr page-top-shadow"></div>
    <div id="article" class="article cf hreview" itemscope itemtype="http://schema.org/NewsArticle">
        <meta itemprop="headline" content="{{сaption}}"/>
        <meta itemprop="datePublished" content="{{time}}"/>
        {{#if company.id}}
            {{> brandedArticleHeader}}
        {{else}}
            {{> articleHeader}}
        {{/if}}
        {{! TODO: Показывать этот partial только для статьи с id 56167dc195a656ecfa000023 }}
        {{> widget_adriver}}
		<span class="description">
			<p class="lead" itemprop="description">
                {{#if dropcap}}
                    <span class="dropcap">{{dropcap}}</span>
                {{/if}}
                {{#if video}}
                    {{{video}}}
                {{/if}}
                {{#if lead}}
                    {{{lead}}}
                {{/if}}
            </p>
		</span>
        {{{articleContent}}}
    </div>
    <script>new drv.Article;</script>

    {{! TODO: Poll }}

    {{#if gallery}}
        <div class="article-gallery">
            <h3>Крупным планом</h3>
            <div class="gallery">
                {{#each gallery}}
                    <a href="{{this.fullImageUrl}}>" target="_blank" itemscope itemtype="http://schema.org/ImageObject">
                        <meta itemprop="width" content="120">
                        <meta itemprop="height" content="90">
                        <img src="{{this.thumbImageUrl}}" width="120" height="90" itemprop="contentUrl">
                    </a>
                {{/each}}
            </div>
        </div>
    {{/if}}
    <div class="dv-bottom">
        {{> widget_adfoxBottom}}
    </div>
    <div class="article-spacer" style="clear: both; margin: -20px 0; padding: 1px 0 0;"></div>
    <div class="article-social-container">
        {{#if commentsCount}}
            <div class="article-commentslink">
                <a class="article-commentslink-active" href="/talk/comments/{{id}}.html">Комментарии</a> {{commentsCount}}
            </div>
        {{else}}
            <div class="article-commentslink">
                <a href="/talk/comments/{{id}}.html">Комментариев пока нет</a>
            </div>
        {{/if}}
        {{! TODO: Social block }}
        <div class="article-vk-widget">
            <div id="vk_subscribe"></div>
            <script type="text/javascript">
                VK.Widgets.Subscribe("vk_subscribe", {mode: 2}, -48156068);
            </script>
        </div>
    </div>
    {{> hr}}
    <div class="feedsub">
        <div class="feedsub-close" data-action="feedsubs.close">Закрыть</div>
        <div class="feedsub-text">
            <a class="sbutton sbutton-big sbutton-green feedsub-button" href="http://eepurl.com/bPK1R9" data-action="feedsubs.subs">Подписаться на рассылку</a>
            Подпишитесь, чтобы ничего не пропустить. Каждый вечер мы будем присылать вам одно письмо со всеми опубликованными материалами. Просто и удобно.
        </div>
        {{> hr}}
    </div>
    <script>new drv.FeedSubs;</script>
    {{> widget_adfoxMiddleMobile}}
    <div class="side-dv side-dv_aligned">
        {{> widget_teasers}}
    </div>
    <div class="article-readmore news-list">
        {{> widget_relap id='amVlT7V0P8U_ISEh'}}
    </div>
</div>
{{! TODO: Call this method in controller instead }}
<script>
    drv.mobileIframePatch();
</script>