<div id="main" class="cf article-main">
    <div class="spr page-top-shadow"></div>
    <div id="article" class="article cf hreview" itemscope itemtype="http://schema.org/NewsArticle">
        <meta itemprop="headline" content="{{сaption}}"/>
        <meta itemprop="datePublished" content="{{time}}"/>
        <p class="dtreviewed" style="display: none">
            <abbr class="value" title="{{time}}"></abbr>
        </p>
		<span class="type" style="display: none">
        	<span class="value-title" title="product"></span>
    	</span>
        <a class="permalink" href="{{canonicalUrl}}" style="display: none"></a>
        <div class="item" style="display: none">
            {{#each hreviewData}}
                <div class="hproduct">
                    <abbr class="category" title="auto"></abbr>
                    <span class="brand">{{this.brand}}</span>
                    <span class="fn">{{this.details}}</span>
                </div>
            {{/each}}
        </div>
        {{#if company.id}}
            {{> brandedArticleHeader}}
        {{else}}
            {{> articleHeader}}
        {{/if}}
        {{! TODO: Показывать этот partial только для статьи с id 56167dc195a656ecfa000023 }}
        {{> widget_adriver}}
		<span class="description">
			<p class="lead" itemprop="description">
                {{#if dropcap}}
                    <span class="dropcap">{{dropcap}}</span>
                {{/if}}
                {{#if video}}
                    {{{video}}}
                {{/if}}
                {{#if lead}}
                    {{{lead}}}
                {{/if}}
            </p>
		</span>
        {{{articleContent}}}
        {{#each reviewData}}
            <a class="reviewsurl" href="//www.drive.ru/{{this.brand}}/" style="display: none">
                {{this.brand}} {{this.details}}
            </a>
        {{/each}}
    </div>
    <script>new drv.Article;</script>
    {{{poll}}}
    {{#if gallery}}
        <div class="article-gallery">
            <h3>Крупным планом</h3>
            <div class="gallery">
                {{#each gallery}}
                    <a href="{{this.fullImageUrl}}>" target="_blank" itemscope itemtype="http://schema.org/ImageObject">
                        <meta itemprop="width" content="120">
                        <meta itemprop="height" content="90">
                        <img src="{{this.thumbImageUrl}}" width="120" height="90" itemprop="contentUrl">
                    </a>
                {{/each}}
            </div>
        </div>
    {{/if}}
    <div class="dv-bottom">
        {{> widget_adfoxBottom}}
    </div>
    <div class="article-spacer" style="clear: both; margin: -20px 0; padding: 1px 0 0;"></div>
    <div class="article-social-container">
        {{#if commentsCount}}
            <div class="article-commentslink">
                <a class="article-commentslink-active" href="/talk/comments/{{id}}.html">Комментарии</a> {{commentsCount}}
            </div>
        {{else}}
            <div class="article-commentslink">
                <a href="/talk/comments/{{id}}.html">Комментариев пока нет</a>
            </div>
        {{/if}}
        <div class="article-social-header">
            Поделиться:
        </div>
        <div class="article-social">
            {{> widget_yandexShare}}
        </div>
    </div>
    {{> hr}}
    <div class="feedsub">
        <div class="feedsub-close" data-action="feedsubs.close">Закрыть</div>
        <div class="feedsub-text">
            <a class="sbutton sbutton-big feedsub-button mobile-hidden" href="http://goo.gl/00BXDg" data-action="feedsubs.subs">ВКонтакте</a>
            <a class="sbutton sbutton-big feedsub-button mobile-hidden" href="https://goo.gl/LmTYos" data-action="feedsubs.subs">Facebook</a>
            <a class="sbutton sbutton-big feedsub-button mobile-hidden" href="http://goo.gl/PM6moG" data-action="feedsubs.subs">Одноклассники</a>
            <a class="sbutton sbutton-big sbutton-green feedsub-button mobile-hidden" href="http://eepurl.com/bPK1R9" data-action="feedsubs.subs">Рассылка</a>
            <span class="desktop-hidden">Подпишитесь на новости:</span>
            {{#each socialLinksMobile}}
                <a class="sbutton sbutton-big feedsub-button desktop-hidden" href="{{this.url}}" data-action="feedsubs.subs">{{this.caption}}</a>
            {{/each}}
            <span class="mobile-hidden">Подпишитесь на новости Драйва, чтобы ничего не пропустить.</span>
        </div>
        {{> hr}}
    </div>
    <script>new drv.FeedSubs;</script>
    {{> widget_adfoxMiddleMobile}}
    <div class="side-dv side-dv_aligned">
        {{> widget_teasers}}
    </div>
    <div class="article-readmore news-list">
        {{> widget_relap id='amVlT7V0P8U_ISEh'}}
    </div>
</div>
<script>
    drv.mobileIframePatch();
</script>