<div id="main">
    {{> backgroundSprite spriteClass=page-top-shadow}}
    {{! TODO: AdFox side banner }}
    {{! TODO: Teasers }}
    <h1 class="brand-header">{{brand.name}} в России</h1>
    <div id="brand-icons-list">
        <input type="checkbox" id="expand-mobile-trigger" class="expand-mobile-trigger">
        {{{carIcons}}}
        <label for="expand-mobile-trigger" class="expand-mobile-trigger-label show-more-link">Показать больше моделей</label>
    </div>
    {{> backgroundSprite spriteClass=open-page-top}}
    <div id="brand-op" class="hgr open-page">
        <div class="hgr open-page-i container-mobile cf">
            <div class="i clip clip-top"></div>
            <h1 class="brand-header-mobile">Новости {{brand.name}}</h1>
            <div id="brand-news-list" class="news-list">
                {{{newsItems}}}
            </div>
            <div id="brand-td-list" class="top-news-list">
		        {{{testDrives}}}
            </div>
            <div class="i clip clip-bottom"></div>
        </div>
    </div>
    {{> backgroundSprite spriteClass=open-page-bottom}}
    {{{dealersList}}}
    {{{blogEntriesList}}}
    <script>
        drv.brandFix();
    </script>
    {{! TODO: Bottom ad }}
    {{! TODO: Relap }}
</div>