<div id="main">
    {{> backgroundSprite spriteClass='page-top-shadow'}}
    <div class="brand-side-dv">
        {{> widget_teasers}}
    </div>
    <h1 class="brand-header">{{brand.name}} в России</h1>
    <div id="brand-icons-list">
        <input type="checkbox" id="expand-mobile-trigger" class="expand-mobile-trigger">
        {{! /items/cars/{brand}/models }}
        {{{carIcons}}}
        <label for="expand-mobile-trigger" class="expand-mobile-trigger-label show-more-link">Показать больше моделей</label>
    </div>
    {{> backgroundSprite spriteClass='open-page-top'}}
    <div id="brand-op" class="hgr open-page">
        <div class="hgr open-page-i container-mobile cf">
            <div class="i clip clip-top"></div>
            <h1 class="brand-header-mobile">Новости {{brand.name}}</h1>
            <div id="brand-news-list" class="news-list">
                {{! /items/news?brand={brandName} }}
                {{{newsItems}}}
                <div class="show-more-link show-more-trigger">
                    <span class="news-list-more desktop-hidden">
                        <a href="/news/{{brand.id}}">Посмотреть больше новостей</a>
                    </span>
                    <span class="news-list-more mobile-hidden">
                        Посмотреть <a href="/news/{{brand.id}}">больше новостей</a>
                        {{#if testDrives}}
                        или <a href="/{{brand.id}}/drive-tests">тест-драйвов {{brand.name}}</a>
                        {{/if}}
                    </span>
                </div>
            </div>
            <div id="brand-td-list" class="top-news-list">
                {{! /items/test_drives?brand={brandName} }}
                {{{testDrives}}}
                {{#if testDrives}}
                    <div class="show-more-link desktop-hidden">
			            <span class="news-list-more">
				            <a href="/{{brand.id}}/drive-tests">Посмотреть больше тест-драйвов</a>
			            </span>
                    </div>
                {{/if}}
            </div>
            <div class="dv-mobile dv-mobile_reordered">
                {{> widget_adfoxMiddleMobile}}
            </div>
            <div class="i clip clip-bottom"></div>
        </div>
    </div>
    {{> backgroundSprite spriteClass='open-page-bottom'}}
    {{#if dealersList}}
        <h3 class="brand-buy-header">Купить {{brand.name}} у официального дилера в {{city.name}}</h3>
        {{! /items/companies?brand={brandName}&city={cityId} }}
        {{{dealersList}}}
    {{/if}}
    {{#if blogEntries}}
        <div class="brand-company-blog-list">
            <h3>Блоги компаний</h3>
            <ul>
                {{! /items/blogs?brand={brandName}&city={cityId} }}
                {{{blogEntries}}}
            </ul>
        </div>
    {{/if}}
    <script>
        drv.brandFix();
    </script>
    <div class="dv-bottom">
        {{> widget_adfoxBottom}}
    </div>
    <div class="brand-readmore">
        {{> widget_relap id='1f7--nm4vUe94-Pj'}}
    </div>
</div>