<div class="i clip clip-top"></div>
<div id="main">
    <div id="index-top-news" class="top-news-list top-news-list_flipping">
        {{! /items/top_stories#topNews }}
        {{{topNews}}}
    </div>

    <div id="index-op" class="hgr open-page">
        <div class="hgr open-page-i cf container-mobile">
            <div id="index-video">
                <h3 class="index-video-header">Видео</h3>
                {{! /items/top_videos }}
                {{{topVideos}}}
            </div>

            <div id="index-news-list" class="news-list">
                {{! /items/top_stories#mainNews }}
                {{{mainNews}}}
                <div class="show-more-link"><a class="index-news-list-more" href="/news/">Посмотреть больше новостей</a></div>
                {{{adMobile}}}
            </div>

            <div id="index-com-news">
                <h3>Блоги компаний{{> ins}}</h3>
                <ul>
                    {{! /items/top_blogs }}
                    {{{topBlogs}}}
                </ul>
            </div>
        </div>
    </div>
    <div class="i clip clip-bottom"></div>
    <div class="spr open-page-bottom"></div>
    <script>
        drv.idxFix();
    </script>
    {{! /content/numbers }}
    {{{suggestedReading}}}
    {{{adBottom}}}
</div>