<div id="main">
    {{> backgroundSprite spriteClass=page-top-shadow}}
    <div class="car cf">
        <div class="afigure afigure-hd afigure-main cf car-main-photo">
            <div class="afigure-pic">
                <img src="{{mainImageUrl}}" width="920" height="520">
                {{> backgroundSprite}}
            </div>
            <div class="afigure-title">
                <h1>
                    <a href="/{{brand.id}}">{{brand.name}}</a> › {{caption}}
                </h1>
                <div class="car-description meta meta-strong">{{{description}}}</div>
            </div>
        </div>
        <div class="car-ncap">
            <div class="car-ncap-icon">
                <img src="{{carIconUrl}}">
            </div>
            <div class="car-ncap-caption">{{ncap.class}}</div>
            {{#if ncap.stars}}
                <div class="car-ncap-title">Рейтинг безопасности Euro NCAP</div>
                <div class="car-ncap-stars">
                    {{{ncapStars}}}
                    {{#if ncap.rating}}
                        {{ncap.rating}} из {{ncap.maxRating}}
                    {{/if}}
                </div>
            {{/if}}
        </div>
        <div class="car-additional-photos gallery-horizontal" data-namespace="lightbox">
            {{! TODO: Use partial }}
            {{#each gallery}}
                <a class="frame-photo gallery-horizontal-item" href="{{this.main}}" data-action="zoom">
                    <img src="{{this.small}}" width="240" height="180" alt="">
                    <span class="frame-photo-border"></span>
                </a>
            {{/each}}
        </div>
        <script>drv.framePhotos();</script>
        <div class="car-teasers">
            {{> hr}}
            {{! TODO: Teasers }}
        </div>
        {{> hr}}
        {{! TODO: Add this block conditionally }}
        <div class="car-builds">
            <div class="car-builds-compare-all"><a target=_blank href="/compare/?<? foreach ($d3[builds] as $key => $value) { ?>id=<?=$value[id]?>&<? } ?>">Сравнить все комплектации</a></div>
            <h2 class="car-builds-header">Комплектации и цены {{caption}}</h2>
            <div class="car-builds-table">
                <table>
                    <caption>{{caption}}</caption>
                    <thead>
                    <tr>
                        <th class="car-builds-table-title">Как называется</th>
                        <th class="car-builds-table-price">Цена</th>
                        <th>Мотор</th>
                        <th>л.с.</th>
                        <th>Привод</th>
                        <th>Коробка (передач)</th>
                        <th class="car-builds-table-compare">Сравнение</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each configurations}}
                        <tr>
                            <th class="car-builds-table-title">
                                <a class="compare-link car-build-link" href="{{this.url}}">{{this.caption}}</a>
                            </th>
                            <td class="car-builds-table-price">
                                <a href="{{this.url}}">{{this.price}}</a>
                            </td>
                            <td><a href="{{this.url}}">{{this.engine}}</a></td>
                            <td><a href="{{this.url}}">{{this.power}}</a></td>
                            <td><a href="{{this.url}}">{{this.gearing}}</a></td>
                            <td><a href="{{this.url}}">{{this.transmission}}</a></td>
                            <td class="car-builds-table-compare">
                                <span class="compare-button" data-action="compare.add" data-id="{{this.id}}">добавить</span>
                            </td>
                        </tr>
                    {{/each}}
                    {{! TODO: Table ad }}
                    </tbody>
                </table>
            </div>
        </div>
        {{> hr}}
        {{! TODO: Video ad }}
        {{! TODO: Button ad }}
        {{! /items/companies?brand={brandName}&city={cityId} }}
        {{#if dealersList}}
            <h2 class="car-company-list-header">Купить {{brand.name}} у официального дилера в {{city.name}}</h2>
            {{{dealersList}}}
        {{/if}}
        {{> hr}}
        <div class="car-relatednews cf">
            <h2 class="car-relatednews-header">Почитать новости и тест-драйвы {{brand.name}} {{caption}}</h2>
            {{#if testDrives}}
                <div class="car-relatednews-list-articles news-item-list">
                    {{! /items/test_drives?brand={brandName} }}
                    {{{testDrives}}}
                </div>
            {{/if}}
            {{#if news}}
                <div class="car-relatednews-list-news">
                    <ul>
                        {{! /items/news?brand={brandName} }}
                        {{{newsItems}}}
                    </ul>
                </div>
            {{/if}}
        </div>
        {{> hr}}
        <div class="car-d2experience">
            <h2 class="car-d2experience-header">Отзывы владельцев </h2>
            {{! TODO: Only show this span for unauthenticated users }}
            <span class="car-d2experience-info">Советы по ремонту, обслуживанию и тюнингу {{brand.name}}. С инструкциями и фотографиями от реальных владельцев.</span>
            <ul class="car-d2experience-tags">
                {{#each experience}}
                    <li>
                        <a href="{{this.url}}" target=_blank>{{this.caption}}</a>&nbsp;{{this.count}}</li>
                {{/each}}
            </ul>
        </div>
        {{> hr}}
        {{#if d2Cars}}
            <div class="car-drive2 cf">
                <h2 class="car-drive2-header">{{brand.name}} с фото в сообществе DRIVE2</h2>
                <div class="car-drive2-links">
                    {{#each d2Cars}}
                        <a href="{{this.url}}" target="_blank" style="background-image: url({{this.imageUrl}});"></a>
                    {{/each}}
                </div>
                <div class="car-drive2-link">
                    <a href="{{this.allCarsUrl}}">Посмотреть все</a>
                </div>
            </div>
        {{/if}}
        {{> hr}}
        {{#if similar}}
            <div class="car-similar">
                <h2 class="car-similar-header">Похожие машины</h2>
                <div class="car-similar-list">
                    {{#each similar}}
                        <a class="car-icon" href="{{this.url}}">
                            <span class="car-icon-image">
                                <img src="{{this.imageUrl}}" width="{{this.imageWidth}}" height="{{this.imageHeight}}">
                            </span>
                            <strong class="car-icon-caption">{{this.caption}}</strong>
                        </a>
                    {{/each}}
                </div>
            </div>
        {{/if}}
        {{> hr}}
        {{! TODO: Video ad }}
        {{! TODO: Teasers }}
        <div class="article-readmore news-list">
            <script id="UK9QJ-cneMowGeHh">if (window.relap) window.relap.ar('UK9QJ-cneMowGeHh');</script>
        </div>
        <div class="clear"></div>
    </div>
</div>