<tr>
    <th class="car-builds-table-title">
        <a class="compare-link car-build-link" href="{{url}}">{{caption}}</a>
    </th>
    <td class="car-builds-table-price">
        <a href="{{url}}">{{{price}}}</a>
    </td>
    <td><a href="{{url}}">{{{engine}}}</a></td>
    <td><a href="{{url}}">{{power}}</a></td>
    <td><a href="{{url}}">{{gearing}}</a></td>
    <td><a href="{{url}}">{{{transmission}}}</a></td>
    <td class="car-builds-table-compare">
        <span class="compare-button" data-action="compare.add" data-id="{{id}}">добавить</span>
    </td>
</tr>