<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <meta name="viewport" content="width=1024" />
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">
    <meta name="wmail-verification" content="d1a2654abf76071294bfa1b1a33300fd"/>
    <meta name="mailru-verification" content="e8a22d6eedec5d00" />
    <meta name="msvalidate.01" content="4C2D75B10152211BAB4BA9C81E152CE6" />
    <meta name="botify-site-verification" content="FBZeE6J4N2BbVDU3ZOmePrla8aTkRg59">
    {{{keywords}}}
    {{{description}}}

    <link rel="stylesheet" href="/css/global.css?{{cacheReset}}">
    <link rel="stylesheet" href="/css/form.css?{{cacheReset}}">
    <link rel="stylesheet" href="/css/likely.css"/>
    <link rel="stylesheet" href="/css/index.css?{{cacheReset}}">

    <link rel="alternate" type="application/rss+xml" title="ДРАЙВ" href="//www.drive.ru/export/rss.xml">
    <link rel="stylesheet" type="text/css" href="/css/mobile/mobile-reset.css?{{cacheReset}}" />
    <link rel="stylesheet" type="text/css" href="/css/mobile/mobile.css?{{cacheReset}}" media="screen and (max-device-width: 800px)" />

    <script src="/js/core.js?{{cacheReset}}"></script>
    <script src="/js/likely.js"></script>
    <script src="/js/async_af.js"></script>
    <script src="//cdn.optimizely.com/js/4505937734.js"></script>
    <script type="text/javascript" src="/js/adfox.asyn.code.ver3.js"> </script>
    <script type="text/javascript" src="/js/adfox.asyn.code.scroll.js"> </script>

    <script type="text/javascript">
        drv.toggleViewport();
    </script>
</head>