<tr>
    <th>{{caption}}</th>
    {{#if value.packageNumber}}
        <td>
            <span class="{{value.class}}" data-action="pack.tooltip" data-id="{{value.packageNumber}}">
                {{{value.text}}}
                <span class="price">{{{value.priceFormatted}}}</span> руб.
            </span>
        </td>
        <td class="build-info-chk">
            <input type="checkbox" value="{{value.price}}:{{value.packageNumber}}">
        </td>
    {{else}}
        <td>
            <span class="{{value.class}}">
                {{#if value.priceFormatted}}
                    <span class="price">{{{value.priceFormatted}}}</span> руб.
                {{else}}
                    {{value.text}}
                {{/if}}
            </span>
        </td>
        <td class="build-info-chk">
            {{#if value.price}}
                <input type="checkbox" value="{{value.price}}">
            {{else}}
                {{#if value.available}}
                    <input type="checkbox" checked disabled>
                {{else}}
                    <input type="checkbox" disabled>
                {{/if}}
            {{/if}}
        </td>
    {{/if}}
</tr>